<header class="base">
	<div class="nav-container">
		<div class="nav-logo">
			<a class="logo-img" href="/">
				<img src="/img/img1.png">
			</a>
		</div>

		<ul class="gnb-container">
			<li class="gnb-title">
				<a href="/">기업소개</a>
			</li>
			<li class="gnb-title">
				<a href="/">채용정보</a>
			</li>
			<li class="gnb-title">
				<a href="/">문의하기</a>
			</li>
		</ul>

	</div>
</header>