@import "https://cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css";

.layout {
	position: relative;
	min-width: 1240px;
	width: 1240px;
	height: 100%;
	margin: 0 auto;
}

header {
	position: fixed;
	width: 100%;
	padding-bottom: 10px;
	box-sizing: border-box;
	z-index: 10;
	transition: height 0.85s
}

header .headerbg {
	position: absolute;
	width: 100%;
	height: 0px;
	top: 104px;
	opacity: 0;
	background: #fff;
	transition: opacity 400ms linear, 0.8s;
	z-index: -2;
}

header .headerbg.active {
	top: 104px;
	opacity: 1;
	height: 400px;
}

header .headerhov {
	display: none;
	position: absolute;
	width: 100%;
	height: 120px;
	top: 0;
	background: #fff;
	z-index: -1;
}

header .headerhov.active {
	display: block;
}

header .header-inner::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 105px;
	top: 0;
	background: #fff;
	opacity: 0;
	z-index: -1;
}

header.active .header-inner::after {
	opacity: 1;
	-webkit-transition: opacity 400ms linear, height 400ms linear;
	transition: opacity 400ms linear, height 400ms linear;
}

header .gnb .gnb-menu.acitve {
	opacity: 1;
	background: #fff;
	-webkit-transition: opacity 400ms linear, height 400ms linear;
	transition: opacity 400ms linear, height 400ms linear;
}

header.active .gnb .gnb-menu .gnb-title>a {
	color: #000;
}

header .header-inner::after {
	transition: opacity 300ms linear 300ms;
}

header.active .header-inner::after {
	opacity: 1;
	transition-delay: 0ms;
}

a.directBt {
	background: #003049;
	border-bottom: 1px solid #666;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	height: 60px;
	left: 0;
	line-height: 60px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 20000;
}

.logo-img {
	width: 174px;
	height: 41px;
}

.gnb-title .sub {
	display: none;
	position: absolute;
	background: white;
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 10;
}

.gnb-title:hover .sub {
	color: black;
	display: block;
	position: relative;
}

header.active {
	opacity: 1;
	-webkit-transition: opacity 400ms linear, height 400ms linear;
	transition: opacity 400ms linear, height 400ms linear;
}

header h1 {
	float: left;
}

header .header-top {
	position: relative;
	top: 10px;
	left: 756px;
	margin-bottom: 30px;
	background-color: #219ebc;

}


header .gnb .gnb-menu ul {
	margin-left: 364px;
	font-size: 15px;
	overflow: hidden;
}

header .gnb .gnb-menu .gnb-title {
	position: relative;
	float: left;
	margin-right: 19px;
	text-align: center;
	line-height: 34px;
}

header .gnb .gnb-menu .gnb-title .one a {
	color: #fff;
}

header .gnb .gnb-menu .gnb-title .one a.active {
	color: #000;
}

header .gnb .gnb-menu .gnb-title .sub {
	margin-top: 30px;
	opacity: 0;
	height: 0;
}

/* hover 되기 전에 보이지 않음 처리 하는 것 */

header.active .gnb .gnb-menu .gnb-title .sub {
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 400ms linear, height 400ms linear;
	transition: opacity 400ms linear, height 400ms linear;

}

header .gnb .gnb-menu .gnb-title .sub a {
	display: block;
	text-align: center;
	font-weight: 300;
	color: #000;
}

header .gnb .gnb-menu .gnb-title .sub a:hover {
	color: #fff;
	background: #017e3f;
}

header .gnb .gnb-menu .gnb-title .one a {
	display: block;
	width: 149px;
	height: 57px;
	line-height: 44px;
	font-size: 18px;
	font-weight: 500;
}

header.active .gnb .gnb-menu .gnb-title .one a {
	color: #000;
}

header .gnb .gnb-menu .gnb-title .one .line {
	position: absolute;
	right: 0;
	width: 0;
	height: 2px;
	transition: width 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

header .gnb .gnb-menu .gnb-title .one .line::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: #cfcfcf;
	z-index: 0;
}

header .gnb .gnb-menu .gnb-title .one .line::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: auto;
	right: 0;
	display: block;
	width: 0;
	height: 2px;
	background: rgb(67, 176, 42);
	background: linear-gradient(90deg, rgba(67, 176, 42, 1) 0%, rgba(0, 169, 224, 1) 100%);
	z-index: 100;
	transition: width 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

header .gnb .gnb-menu .gnb-title:hover .one .line:after {
	left: 0;
	right: auto;
	width: 100%;
}

header .gnb .lang {
	position: absolute;
	width: 30px;
	height: 17px;
	border: 1px solid #fff;
	top: 13px;
	right: 129px;
	font-size: 10px;
	border-radius: 8px;
	text-align: center;
	line-height: 16px;
	overflow: hidden;
}

header .gnb .lang:hover {
	height: 33px;
	background: rgba(85, 103, 109, 0.3);
}

header .gnb .lang a {
	display: block;
	color: #fff;
}

header .gnb .lang a:hover {
	color: #218c4c;
	text-decoration: underline;
}

body {
	background: #bde0fe;
}

ul {
	list-style: none;
}