<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= title %>
	</title>
	<link href="https://cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/org.css">
</head>

<body>
	<div class="org-wrap">
		<header class=""></header>
		<main>
			<section>
				<h1>백일몽 주식회사 조직도 일람</h1>
			</section>
			<div>
				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem tenetur, architecto facilis esse,
					molestias sed libero minus, quos omnis ipsa natus saepe tempora? Iure aperiam officia laudantium
					ipsum,
					officiis dignissimos?
				</p>
			</div>
			<div>
				<img class="img1" src="/img/orgChartV1.png">
			</div>
		</main>
	</div>
</body>

</html>