@import "https://cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css";

.layout {
	position: relative;
	/* min-width: 100%; */
	width: 100%;
	height: 100%;
	margin: 0;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	/* padding-bottom: 10px;
	box-sizing: border-box;*/
	transition: height 0.85s;
	z-index: 10;
}

header .headerbg {
	position: absolute;
	width: 100%;
	height: 0px;
	top: 0;
	opacity: 0;
	background: #fff;
	transition: opacity 0.4s linear, 0.8s;
	z-index: -2;
}

header .headerbg.active {
	position: absolute;
	/* top: 104px */
	opacity: 1;
	height: 250px;
	transform: translateY(104px);
	transition: opacity 0.4s linear, 0.8s;
	z-index: 1;
}

header .headerhov {
	display: none;
	position: absolute;
	width: 100%;
	height: 120px;
	top: 0;
	background: #fff;
	z-index: -1;
}

header .headerhov.active {
	display: block;
}

header .header-inner::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 105px;
	top: 0;
	background: #fff;
	opacity: 0;
	z-index: -10;
}

header.active .header-inner::after {
	opacity: 1;
	-webkit-transition: opacity 0.4s linear, height 0.4s linear;
	transition: opacity 0.4s linear, height 0.4s linear;
}

header .gnb .gnb-menu.acitve {
	opacity: 1;
	background: #fff;
	-webkit-transition: opacity 0.4s linear, height 0.4s linear;
	transition: opacity 0.4s linear, height 0.4s linear;
}

header.active .gnb .gnb-menu .gnb-title>a {
	color: #000;
	transition: color 0.4s ease-in-out;
}

header .header-inner::after {
	transition: opacity 0.3s linear 0.3s;
}

header.active .header-inner::after {
	opacity: 1;
	transition-delay: 0ms;
}

a.directBt {
	background: #d90429;
	border-bottom: 1px solid #bf4342;
	color: #001233;
	font-size: 18px;
	font-weight: bold;
	height: 60px;
	left: 0;
	line-height: 60px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 20000;
}

.logo-img {
	margin: 0 1rem;
	width: 174px;
	height: 41px;
}

.gnb-title-container {
	display: flex;
	position: relative;
	flex-wrap: nowrap;
	/* 줄바꿈 방지 */
	align-items: center;
	/* 세로 가운데 정렬 */
	justify-content: flex-start;
	margin-left: 0;
	padding-left: 0;
}


header.active {
	opacity: 1;
	-webkit-transition: opacity 0.4s linear, height 0.4s linear;
	transition: opacity 0.4s linear, height 0.4s linear;
}

header h1 {
	float: left;
}

header .header-top {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	top: 10px;
	margin-bottom: 30px;
	background-color: powderblue;
}



header .header-top a {
	margin-right: 16px;
	color: #fff;
}

header.active .header-top a {
	color: gray;
}

header .header-top a.active {
	color: gray;
}

header .header-top a::after {
	content: "";
	position: relative;
	display: inline-block;
	width: 1px;
	height: 1rem;
	margin-top: 5px;
	margin-left: 9px;
	margin-bottom: 5px;
	background: #fff;
	vertical-align: middle;
}

header.active .header-top a::after {
	background: gray;
}

header .header-top a {
	font-size: small;
	color: #fff;
}



header .header-top .employbox,
header .header-top .employ {
	/* float: none */
	display: flex;
	align-items: center;
	padding-left: 0;
	font-size: small;
}

header.active .header-top .employ {
	color: #008944;
}

header .header-top .employ.active {
	color: #008944;
}

header .header-top .afternone::after {
	display: none;
}

header .gnb .gnb-menu ul {
	/* margin-left: 364px; */
	margin-left: 364px;
	font-size: 15px;
	overflow: visible;

}

header .gnb .gnb-menu .gnb-title {
	position: relative;
	display: flex;
	margin-left: 0px;
	/* 왼쪽부터 차례대로 나열 */
	text-align: center;
	line-height: 34px;
	z-index: 10;
}

header .gnb .gnb-menu .gnb-title .one a {
	color: #fff;
}

header .gnb .gnb-menu .gnb-title .one a.active {
	color: #000;
}

header .gnb .gnb-menu .gnb-title .sub {
	margin-top: 30px;
	opacity: 0;
	height: 0;
	position: absolute;
	visibility: hidden;
	/* hover 되기 전에 보이지 않음 처리 하는 것 */
}

header.active .gnb .gnb-menu .gnb-title .sub {
	width: 100%;
	opacity: 1;
	position: absolute;
	top: 50%;
	visibility: visible;
	-webkit-transition: opacity 0.4s linear, height 0.4s linear;
	transition: opacity 0.4s linear, height 0.4s linear;
	z-index: 20;
}

header .gnb .gnb-menu .gnb-title .sub a {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-weight: 300;
	color: #000;
}

header .gnb .gnb-menu .gnb-title .sub a:hover {
	color: #fff;
	background: #017e3f;
}

header .gnb .gnb-menu .gnb-title .one a {
	display: block;
	width: 149px;
	height: 57px;
	line-height: 44px;
	font-size: 18px;
	font-weight: 500;
}

header.active .gnb .gnb-menu .gnb-title .one a {
	color: #000;
}

header .gnb .gnb-menu .gnb-title .one .line {
	position: absolute;
	right: 0;
	width: 0;
	height: 2px;
	transition: width 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

header .gnb .gnb-menu .gnb-title .one .line::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: #cfcfcf;
	z-index: 0;
}

header .gnb .gnb-menu .gnb-title .one .line::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: auto;
	right: 0;
	display: block;
	width: 0;
	height: 2px;
	background: rgb(67, 176, 42);
	background: linear-gradient(90deg, rgba(67, 176, 42, 1) 0%, rgba(0, 169, 224, 1) 100%);
	z-index: 100;
	transition: width 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

header .gnb .gnb-menu .gnb-title:hover .one .line:after {
	left: 0;
	right: auto;
	width: 100%;
}

header .gnb .lang {
	position: absolute;
	width: 30px;
	height: 17px;
	border: 1px solid #fff;
	top: 13px;
	right: 129px;
	font-size: 10px;
	border-radius: 8px;
	text-align: center;
	line-height: 16px;
	overflow: hidden;
}

header .gnb .lang:hover {
	height: 33px;
	background: rgba(85, 103, 109, 0.3);
}

header .gnb .lang a {
	display: block;
	color: #fff;
}

header .gnb .lang a:hover {
	color: #218c4c;
	text-decoration: underline;
}

body {
	background: #bde0fe;
	font-family: ' KoPub Dotum';
}


.modal {
	/* 팝업 배경 */
	display: none;
	position: fixed;
	/*브라우저의 전체화면(viewport)를 기준으로 html요소 배치*/
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.modal-content {
	background-color: white;
	padding: 30px;
	border-radius: 30px;
	width: 400px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	animation: popUp 0.3s ease-out;
}

.close {
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 24px;
	cursor: pointer;
}

@keyframes popUp {
	from {
		transform: translateY(-30px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}