@import "https://cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css";

body {
	font-family: ' KoPub Dotum';
}

.base {
	background-color: #ef476f;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
}


.nav-container {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	gap: 10vw;
	margin-left: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gnb-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10vw;
}

.gnb-title {
	text-align: center;
	font-size: 1rem;
}

@media screen and (max-width:768px) {
	.img1 {

		height: auto;
		width: 70%;
		max-width: 600px;
		object-fit: contain;
		display: block;
		padding: 50px 0px;
		/* gap: 100px; */
	}
}

.gnb-title a {
	color: aliceblue;
	font-weight: 600;
}

.logo-img img {

	width: 174px;
	height: 41px;
}

.img-container {

	padding: 10vw 20vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img1 {
	position: relative;
	margin-top: 20px;
	height: auto;
	width: 100%;
	min-width: 700px;
	object-fit: contain;
	display: block;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10vh;
	margin-top: 20vh;

}

.form-box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
	width: 400px;
	min-width: 350px;
	border-radius: 6px;
	background-color: #ebebeb;
	border: thick double #780000;
}

@media screen and (max-width:768px) {
	.form-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 350px;
		height: 5rem;
	}
}

.form-icon {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
}

.form-icon img {
	width: 30px;
	height: 30px;
}

.title {
	/* position: relative; */
	justify-content: flex-start;
	white-space: nowrap;
	text-align: center;
	font-weight: 600;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	width: 25vw;
	height: 20px;
}

input {
	flex-shrink: 0;
	width: 165px;
	height: 30px;
	border-radius: 5px;
}

.form-container .search {
	border-radius: 10px;
	white-space: nowrap;
	padding: 0px 12px;
	margin: 10px 10px;
	height: 30px;
	color: #fee440;
	background-color: #003049;
	font-weight: 600;
}

.addBtn-layout {
	display: flex;
	justify-content: center;
	position: relative;
	padding-right: 8rem;
	margin-top: 5px;

}

.addBtn {
	border-radius: 6px;
	white-space: nowrap;
	padding: 6px 12px;
	height: 30px;
	color: #dd2d4a;
	background-color: #b8b8ff;
	font-weight: 600;
	font-size: 12px;
}