.swiper {
	position: relative;
	height: 100vh;
	width: 100vw;
	z-index: 3;
}


.content .swiper .swiper-wrapper .swiper-slide {
	position: relative;
	display: block;
	width: 100vw;
	height: 100%;
	background: center cover;

}

.content .swiper .swiper-wrapper .slide01 {
	background-image: url("../img/bg3.jpg");
}

.content .swiper .swiper-wrapper .slide02 {

	background-image: url("../img/bg2.jpg");
}

.content .swiper .swiper-wrapper .slide03 {

	background-image: url("../img/bg4.jpg");
}