/* :root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
@import "//cdn.jsdelivr.net/npm/font-kopub@1.0";

* {
  box-sizing: border-box;
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  font-family: "KoPub Dotum";
  /* background-color: #1a1a1a; */
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}
