/* #root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
} */
/* @keyframes logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  
  @media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
	  animation: logo-spin infinite 20s linear;
	}
  } */

.header-layout {
  position: relative;
  /* min-width: 100%; */
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  /* padding-bottom: 10px;
	  box-sizing: border-box;*/
  transition: height 0.85s;
  z-index: 10;
}

header .headerbg {
  position: absolute;
  width: 100%;
  height: 0px;
  top: 0;
  opacity: 0;
  background: #003049;
  transition: opacity 0.4s linear, 0.8s;
  z-index: -2;
}

header .headerbg.active {
  position: absolute;
  /* top: 104px */
  opacity: 1;
  height: 220px;
  transform: translateY(105px);
  transition: opacity 0.4s linear, 0.8s;
  z-index: 1;
}

header .header-inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 105px;
  top: 0;
  background: #fff;
  opacity: 0;
  z-index: -10;
}

header.active .header-inner::after {
  opacity: 1;
  -webkit-transition: opacity 0.4s linear, height 0.4s linear;
  transition: opacity 0.4s linear, height 0.4s linear;
}

header .gnb .gnb-menu.acitve {
  opacity: 1;
  background: #003049;
  -webkit-transition: opacity 0.4s linear, height 0.4s linear;
  transition: opacity 0.4s linear, height 0.4s linear;
}

header.active .gnb .gnb-menu .gnb-title > a {
  color: black;
  transition: color 0.4s ease-in-out;
}

header .header-inner::after {
  transition: opacity 0.3s linear 0.3s;
}

header.active .header-inner::after {
  opacity: 1;
  transition-delay: 0ms;
}

a.directBt {
  background: #d90429;
  border-bottom: 1px solid #bf4342;
  color: #001233;
  font-size: 18px;
  font-weight: bold;
  height: 60px;
  left: 0;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 20000;
}

.gnb-title-container {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  /* 줄바꿈 방지 */
  align-items: flex-start;
  padding-left: 0;
  /* 세로 가운데 정렬 */
  justify-content: flex-start;
}

.logo-container {
  padding-bottom: 20px;
}

.logo-img {
  width: auto;
  height: 35px;
  vertical-align: middle;
}

header.active {
  opacity: 1;
  -webkit-transition: opacity 0.4s linear, height 0.4s linear;
  transition: opacity 0.4s linear, height 0.4s linear;
}

header .header-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  top: 10px;
  margin-bottom: 30px;
}

header .header-top a {
  margin-right: 16px;
  color: #fff;
}

header.active .header-top a {
  color: gray;
}

header .header-top a::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 1px;
  height: 1rem;
  margin-top: 5px;
  margin-left: 9px;
  margin-bottom: 5px;
  background: #fff;
  vertical-align: middle;
}

header.active .header-top a::after {
  background: gray;
}

header .header-top a {
  font-size: small;
  color: #fff;
}

header .header-top .employbox,
header .header-top .employ {
  /* float: none */
  display: flex;
  align-items: center;
  padding-left: 0;
  font-size: small;
}

header.active .header-top .employ {
  color: #00c6a9;
}

header .header-top .employ.active {
  color: #00c6a9;
}

header .header-top .afternone::after {
  display: none;
}

header .gnb .gnb-menu ul {
  /* margin-left: 364px;
	  font-size: 15px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  font-size: 15px;
  place-items: center;
}

@media screen and (max-width: 768px) {
  .gnb-menu {
    display: flex;
    flex-direction: column;
  }
}

header .gnb .gnb-menu .gnb-title {
  position: relative;
  display: flex;
  /* 왼쪽부터 차례대로 나열 */
  text-align: center;
  line-height: 34px;
  z-index: 10;
  margin-left: 0;
  padding-left: 0;
}

header .gnb .gnb-menu .gnb-title .one a {
  color: #fff;
}

header .gnb .gnb-menu .gnb-title .one a.active {
  color: #000;
}

header .gnb .gnb-menu .gnb-title .sub {
  margin-top: 30px;
  opacity: 0;
  height: 0;
  position: absolute;
  visibility: hidden;
  /* hover 되기 전에 보이지 않음 처리 하는 것 */
}

header.active .gnb .gnb-menu .gnb-title .sub {
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 50%;
  visibility: visible;
  -webkit-transition: opacity 0.4s linear, height 0.4s linear;
  transition: opacity 0.4s linear, height 0.4s linear;
  z-index: 20;
}

header .gnb .gnb-menu .gnb-title .sub a {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 300;
  color: #fff;
}

.glitch {
  position: relative;
}

a.glitch::before,
a.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  color: white;
}
a.glitch::before {
  top: -1px;
  text-shadow: -1px 0 red;
}

a.glitch::after {
  top: 1px;
  text-shadow: -1px 0 blue;
}

a.glitch:hover::before,
a.glitch:hover::after {
  opacity: 1;
  animation: glitchAni 0.3s infinite;
}
@keyframes glitchAni {
  0% {
    clip-path: inset(0 0 50% 0);
    transform: translate(1px, -1px);
  }
  20% {
    clip-path: inset(10% 0 40% 0);
    transform: translate(-2px, 2px);
  }
  40% {
    clip-path: inset(20% 0 30% 0);
    transform: translate(2px, -1px);
  }
  60% {
    clip-path: inset(30% 0 20% 0);
    transform: translate(-1px, 1px);
  }
  80% {
    clip-path: inset(40% 0 10% 0);
    transform: translate(1px, 0);
  }
  100% {
    clip-path: inset(50% 0 0 0);
    transform: translate(0, 0);
  }
}

header .gnb .gnb-menu .gnb-title .sub a.glitch:hover {
  background: transparent;
}

header .gnb .gnb-menu .gnb-title .sub a:hover {
  color: white;
  background: #97afba;
}

header .gnb .gnb-menu .gnb-title .one a {
  display: block;
  width: 149px;
  height: 57px;
  line-height: 44px;
  font-size: 18px;
  font-weight: 700;
}

header.active .gnb .gnb-menu .gnb-title .one a {
  color: #000;
}

/* header .gnb .gnb-menu .gnb-title .one .line {
  position: relative;
  right: 0;
  width: 100%;
  height: 2px;
  transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

header .gnb .gnb-menu .gnb-title:hover .one .line::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #cfcfcf;
  z-index: 0;
}

header .gnb .gnb-menu .gnb-title .one .line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  display: block;
  width: 0;
  height: 2px;
  background: rgb(67, 176, 42);
  background: linear-gradient(
    90deg,
    rgba(67, 176, 42, 1) 0%,
    rgba(0, 169, 224, 1) 100%
  );
  z-index: 100;
  transition: width 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

header .gnb .gnb-menu .gnb-title:hover .one .line:after {
  content: "";
  left: 0;
  right: auto;
  width: 100%;
} */
