header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  padding-bottom: 10px;
  transition: height 0.85s;
  z-index: 10;
}

header .headerbg {
  position: absolute;
  width: 100%;
  height: 0px;
  top: 0;
  opacity: 0;
  background: #003049;
  transition: opacity 0.4s linear, 0.8s;
  z-index: -2;
  border-radius: 20px;
}

header .headerbg.active {
  position: absolute;
  /* top: 104px */
  opacity: 1;
  height: 220px;
  transform: translateY(70px);
  transition: opacity 0.4s linear, 0.8s;
  z-index: 1;
}

header .header-inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0;
  background: #fff;
  opacity: 0;
  z-index: -10;
}

header.active .header-inner::after {
  opacity: 1;
  -webkit-transition: opacity 0.4s linear, height 0.4s linear;
  transition: opacity 0.4s linear, height 0.4s linear;
}

header .gnb .gnb-menu.acitve {
  opacity: 1;
  background: #003049;
  -webkit-transition: opacity 0.4s linear, height 0.4s linear;
  transition: opacity 0.4s linear, height 0.4s linear;
}

header.active .gnb .gnb-menu .gnb-title > a {
  color: black;
  /* transition: color 0.4s ease-in-out; */
}

header .header-inner::after {
  transition: opacity 0.3s linear 0.3s;
}

header.active .header-inner::after {
  opacity: 1;
  transition-delay: 0ms;
}

a.directBt {
  background: #d90429;
  border-bottom: 1px solid #bf4342;
  color: #001233;
  font-size: 18px;
  font-weight: bold;
  height: 60px;
  left: 0;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 20000;
}

.gnb-title-container {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  /* 줄바꿈 방지 */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: auto;
  height: 35px;
  vertical-align: middle;
}

header.active {
  opacity: 1;
  -webkit-transition: opacity 0.4s linear, height 0.4s linear;
  transition: opacity 0.4s linear, height 0.4s linear;
}

header .header-top {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;
  width: 100%;
  top: 10px;
  margin-bottom: 30px;
}

header .header-top a {
  margin-right: 4rem;
  color: #fff;
}

header .header-top a {
  font-size: small;
  color: #fff;
}

header.active .header-top .employ {
  color: #00c6a9;
}

header .header-top .employ.active {
  color: #00c6a9;
}

header .gnb .gnb-menu ul {
  font-size: 15px;
  place-items: center;
}

@media screen and (max-width: 768px) {
  .gnb-menu {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
  }
}

header .gnb {
  display: flex;
  justify-content: space-between;
}
header .gnb .gnb-menu {
  flex: 1 1 0%;
}

header .gnb .gnb-menu .gnb-title {
  position: relative;
  display: flex;
  /* 왼쪽부터 차례대로 나열 */
  text-align: center;
  line-height: 34px;
  z-index: 10;
}

.header-layout {
  position: relative;
  /* min-width: 100%; */
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}

header .gnb .gnb-menu .header-layout .gnb-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gnb-right .login {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  width: 4rem;
  height: 2rem;
}

header.active .gnb-right .login {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: 700;
  width: 4rem;
  height: 2rem;
}

header .gnb .gnb-menu .gnb-title .one a {
  color: #fff;
  display: block;
  width: 140px;
  height: auto;
  line-height: 44px;
  font-size: 18px;
  font-weight: 700;
}

header .gnb .gnb-menu .gnb-title .one a.active {
  color: #000;
}

header.active .gnb .gnb-menu .gnb-title .one a {
  color: #000;
}

header .gnb .gnb-menu .gnb-title .sub {
  margin-top: 30px;
  opacity: 0;
  height: 0;
  position: absolute;
  visibility: hidden;
  /* hover 되기 전에 보이지 않음 처리 하는 것 */
}

header.active .gnb .gnb-menu .gnb-title .sub {
  width: 100%;
  opacity: 1;
  position: absolute;
  top: 100%;
  visibility: visible;
  transition: opacity 0.4s linear, height 0.4s linear;
  z-index: 20;
}

header .gnb .gnb-menu .gnb-title .sub a {
  /* box-sizing: border-box; */
  display: block;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  font-weight: 400;
  color: #fff;
  /* transition: background-color 0.3s ease transform 0.3s ease-in-out width 0.3s
    ease-in-out; */
}

header .gnb .gnb-menu .gnb-title .sub a:hover {
  width: 100px;
  color: #fff;
  /* background: #97afba; */
  background: #2d93ad;
  border-radius: 10px;
}

header .gnb .gnb-menu .gnb-title .sub a.glitch:hover {
  background: transparent;
}

.glitch {
  position: relative;
  /* mix-blend-mode: lighten; */
}
.sub .glitch::before,
.sub .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  clip: inset(0, 0, 0, 0);
}

.glitch::before {
  display: none;
  left: -1px;
  text-shadow: 1px 0 rgba(255, 0, 0, 0.7);
}

.glitch::after {
  display: none;
  left: 1px;
  text-shadow: -1px 0 rgba(0, 0, 255, 0.7);
}

header .gnb .gnb-menu .gnb-title .sub .glitch:hover::before {
  text-shadow: 4px 0 rgba(255, 0, 0, 0.7);
  animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
}
header .gnb .gnb-menu .gnb-title .sub .glitch:hover::after {
  text-shadow: -5px 0 rgba(0, 0, 255, 0.7);
  animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse;
}

@keyframes glitch-loop-1 {
  0% {
    clip: rect(8px, 9999px, 25px, 0);
  }
  25% {
    clip: rect(5px, 9999px, 18px, 0);
  }
  50% {
    clip: rect(12px, 9999px, 30px, 0);
  }
  75% {
    clip: rect(2px, 9999px, 22px, 0);
  }
  100% {
    clip: rect(15px, 9999px, 32px, 0);
  }
}

@keyframes glitch-loop-2 {
  0% {
    top: -1px;
    left: 1px;
    clip: rect(17px, 9999px, 33px, 0);
  }
  25% {
    top: -6px;
    left: 4px;
    clip: rect(3px, 9999px, 21px, 0);
  }
  50% {
    top: -3px;
    left: 2px;
    clip: rect(10px, 9999px, 28px, 0);
  }
  75% {
    top: 0px;
    left: -4px;
    clip: rect(20px, 9999px, 34px, 0);
  }
  100% {
    top: -1px;
    left: -1px;
    clip: rect(1px, 9999px, 15px, 0);
  }
}

/* a.glitch::before,
a.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  color: white;
}
a.glitch::before {
  top: -1px;
  text-shadow: -1px 0 red;
}

a.glitch::after {
  top: 1px;
  text-shadow: -1px 0 blue;
}

a.glitch:hover::before,
a.glitch:hover::after {
  opacity: 1;
  animation: glitchAni 0.3s infinite;
} */
/* @keyframes glitchAni {
  0% {
    clip: inset(0 0 50% 0);
    transform: translate(1px, -1px);
  }
  20% {
    clip: inset(10% 0 40% 0);
    transform: translate(-2px, 2px);
  }
  40% {
    clip: inset(20% 0 30% 0);
    transform: translate(2px, -1px);
  }
  60% {
    clip: inset(30% 0 20% 0);
    transform: translate(-1px, 1px);
  }
  80% {
    clip: inset(40% 0 10% 0);
    transform: translate(1px, 0);
  }
  100% {
    clip: inset(50% 0 0 0);
    transform: translate(0, 0);
  }
} */
